config = {
    "client_id"      : 'tps_5PGtYryRjQ',
    "client_secret"  : 'ntLynLho6Y1cfv35zWy_fFVtFD0',
    "user_agent"     : 'MemeEconomyMillionaryBot',
    "username"       : '',
    "password"       : '',
}
